/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: wheat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(5, 0, 0, 0.6);;
}

.navbar img {
    max-width: 60px; /* Adjust logo size */
}

.navbar-links {
    display: flex;
    gap: 20px; /* Space between links */
}

.navbar-links a {
    margin-top: 10%;
    margin-left: 25%;
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none; /* Hidden by default */
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Close button style */
.close-button {
    margin-top: 10px;
    margin-left: 120px;
    color: red;
    font-size: 45px;
    cursor: pointer;
    margin-bottom: 10px; /* Space from links */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide links by default on mobile */
        flex-direction: column;
        position: absolute;
        top: 0; /* Below navbar */
        right: 0;
        background-color: #333;
        height: 100%;
        width: 50%; /* Full width */
        z-index: 1; /* Ensure links are above other elements */
    }

    .navbar-links.active {
        display: flex; /* Show links when active */
    }

    .menu-toggle {
        display: block; /* Show the toggle button */
    }
}

main-content {
    text-align: center;
    padding: 40px 20px;
}

.main-content h2 #h {
    font-size: 1em;
    margin-left: 35%;
}

.main-content h2 #w {
    font-size: 0.8em;
    margin-left: 25%;
}

.main-content h2 #m {
    font-size: 0.8em;
    margin-left: 0;
}

.main-content h2 span{
    margin-top: 20%;
    font-family: Arial;
    color: #333;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.main-content p {
    font-size: 1.2em;
    color: #555;
    margin-left: 2%;
}

.main-content img {
    width: 250px;
    height: 100px;
    margin-top: 15%;
    margin-left: 15%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.footer {
    background-color: #333; /* Dark footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar #T {
    margin-right: 35%;
    color: white;
}